body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
    
}

p {
    /* margin: 0; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#3a3a3a;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1rem;
}

h2, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a3a3a;
}

/* HEADER */
.header {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/hector.jpg);
    background-size: cover;
    position: relative;
}

 .logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.animate__animated.animate__zoomIn {
    --animate-duration: 1s;
  }

  .custom-shape-divider-bottom-1672419149 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672419149 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 342px;
}

.custom-shape-divider-bottom-1672419149 .shape-fill {
    fill: #FFFFFF;
}

/* .custom-shape-divider-bottom-1672242877 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672242877 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1672242877 .shape-fill {
    fill: #ffffff;
} */

.opacity {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

/* SERVICES */

.services {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.services-wrapper {
    min-height: 75vh;
    min-width: 80vw;
    
}

.services-header {
    min-width:80vw;
    min-height: 20vh;
    display: flex;
    align-items: center;
}

.services-text {
    margin-top: 3em;
    max-width: 50vw;
}

@media only screen and (max-width: 800px) {
    .services-text {
    max-width: 80vw;
}
}

.wrapper-row {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .row {
    min-width: 80vw;
} */

.col-sm-4 {
    background-color: #ffffff;
    margin: 20px;
    width: 25vw;
    border-radius: 10px;
    /* border-style: solid; */
    /* border: 0.5px solid #3a3a3a; */
    border-color: #3a3a3a;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.21);

}

.fade-in, .fade-in-2, .fade-in-3 {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-in.show {
    opacity: 1;
}

.fade-in-2.show-2 {
    opacity: 1;
    transition-delay: 100ms;
}

.fade-in-3.show-3 {
    opacity: 1;
    transition-delay: 200ms;
}

@media only screen and (max-width: 800px) {
    #row-services {
        flex-direction: column;
        /* margin-right: auto;
        margin-left: auto; */
    }

    .col-sm-4 {
        /* padding-top: 2em;
        padding-bottom: 2em; */
        min-width: 80vw;
    }
}

/* ABOUT */

.om-mig {
    width: 100wv;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.om-mig-wrapper {
    max-width: 80vw;
}

.projects {
    /* min-height: 60vh; */
    /* margin: 10px; */
    display: flex;
}

.projects-left {
    width: 50%;
}

.profile-image {
    display: flex;
    justify-content: center;
}

.projects-right {
    width: 50%;
}

@media only screen and (max-width: 800px){
    .projects-wrap {
        padding-top:5em;
        padding-bottom:5em;
        padding-left: 2em;
        padding-right: 2em;

    }

    .projects{
      flex-direction: column;
    }

    .projects-left {
        width: 100%;
        padding-left:0;
        padding-top:0;
        padding-bottom:0;
    }

    .projects-right {
        width: 100%;
        height:100%;
        padding-left:0;
        padding-top:0;
        padding-bottom:0;
    }
  }

  .project-pic {
    width: 60%;
    height: auto;
    object-fit:contain;
    margin-left: auto;
    margin-right: auto;

}   

/* CONTACT */

.contact {
    width: 100wv;
    height: 80vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='800' preserveAspectRatio='none' viewBox='0 0 2000 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M641.63 811.13C868.2 795.14 1002.32 369.16 1428.07 356.25 1853.82 343.34 2011.65 157.81 2214.51 156.25' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M461.3 825.77C684.44 753.59 725.4 124.28 1063.5 106.49 1401.6 88.7 1364.6 206.49 1665.7 206.49 1966.8 206.49 2115.29 106.83 2267.9 106.49' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840.13 875.24C967.24 874.41 944.96 762.52 1334.56 756.64 1724.16 750.76 2060.38 402.18 2323.41 396.64' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M660.87 880.13C838.87 845.09 911.41 396.22 1196.21 390.21 1481.01 384.2 1463.88 490.21 1731.55 490.21 1999.22 490.21 2130.74 390.64 2266.89 390.21' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M786.67 826.78C961.26 762.99 893.71 241.74 1243.63 240.28 1593.54 238.82 1916.79 540.33 2157.54 544.28' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='2000' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10em; */
}

.contact-wrapper {
    width: 80vw;    
}

.custom-shape-divider-top-1672302919 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1672302919 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1672302919 .shape-fill {
    fill: #FFFFFF;
}

ul {
    list-style-type: none;
  }

li {
    margin-top: 50px;
    margin-bottom: 50px;
}

.custom-shape-divider-top-1672418831 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1672418831 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1672418831 .shape-fill {
    fill: #f5f5f5;
}